/* Created by Adam - 23/11/2024 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
    background-color: #DCEDFF;
}

.header {
    display: flex;
    flex-direction: row;
    height: auto;
    justify-content: space-between;
    align-items:center;
    padding: 32px;
    padding-right: 128px;
    padding-left: 128px;
}

img {
    height: 100px;
}

.menu-items {
    font-size: 1.5rem;
    font-weight:300;
    display:flex;
    gap: 64px;
}


.icons {
    display:flex;
    flex-direction: row;
    gap: 64px;
    font-size: 40px;
}
