/********************************
Developer: Azaan Mudassar
University ID: 230098501
********************************/



body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #E5F4FF;
    overflow: hidden;
}

