/********************************
Developer: Ayaz Ahmed
University ID: 230162248
********************************/

/*
updated design to match updates - Adam 6/12/2024 
*/

body {
    background-color: #0A1A26;
    font-family: 'Outfit', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: stretch; 
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 40px;
    background-color: #0A1A26;
   
  }
  
  header .logo {
    font-size: 1.5em;
    font-weight: bold;
  }
  
  header nav a {
    margin: 15px;
    text-decoration: none;
    color: #000000;
    font-weight: 500;
  }
  
  header .cart-icon {
    font-size: 1.2em;
  }

h1 {
    font-family: 'Outfit', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-align: center; 
    text-transform: uppercase;
    margin: 0; 
    padding: 0; 
    margin-top: 60px;
    margin-bottom: -10px;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
p {
    font-family: 'Roboto', sans-serif;

    font-weight: bold;
    font-size: 16px;
    text-align: center;
}

.SendLinkButton {
    background-color: #838EDA;
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    height: 55px;
    padding: 10px 100px;
    width: auto;
    border: none;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    border-radius: 40px;
    margin-bottom:10px;
 
}
.SendLinkButton:hover {
    background-color: white;
    color:#838EDA
}

.box {
    width: 500px;
    height: 50px;
    padding: 0 10px;
    font-size: 17px;
    border: 2px solid #838EDA;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 90px;
    margin-top: 100px;
}
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #0A1A26;
    padding: 30px 20px;
    text-align: left;
  }
  
  .footerColumn {
    flex: 1 1 200px;
    margin: 10px;
  }
  
  .footerColumn h3, .footerColumn h4 {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .footerColumn ul {
    list-style: none;
    padding: 0;
  }
  
  .footerColumn ul li {
    margin: 5px 0;
  }
  
  .footerColumn ul li a {
    text-decoration: none;
    color: #000;
  }
  
/* Newsletter Form */
.newsletter .inputContainer {
  position: relative; 
  display: flex;
  align-items: center;
}

.newsletter input {
  width: 100%;
  padding: 10px 90px 10px 10px; 
  border: 1px solid #0A1A26;
  border-radius: 25px;
  font-size: 1em;
  outline: none;
}

.newsletter button {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  padding: 8px 15px;
  border: none;
  border-radius: 20px;
  background-color: #838EDA;
  color: white;
  font-size: 0.9em;
  cursor: pointer;
}

.newsletter button:hover {
  background-color: #556edf;
}
