/* Made by Khalid

Updated by Adam  */

/* variables */
:root {
    --bg-colour: #DCEDFF;
    --text-colour: black;

    --control-grad-start: #D1E8FF;
    --control-grad-end: #838EDA;
    --control-hover: #838EDA;
    --control-text: #333;

    --prod-img-bg: #fff;

    --loadbtn-text: #000;
    --loadbtn-bg: #838EDA;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

/* Main Product Page */
.product-page {
    padding: 20px;
    background-color: var(--bg-colour);
    padding-bottom: 64px;
}

/* Controls Section */
.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 10%;
}

.controls div {
    display: flex;
    align-items: center;
    background-color: transparent;
    padding: 10px 20px;
    border: none; 
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    color: var(--control-text); 
    position: relative; 
    transition: color 0.3s ease;
}
.controls svg {
    height: 24px;
    width: 24px;
}

.controls div::after {
  content: ''; 
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, var(--control-grad-start), var(--control-grad-end));
  transform: scaleX(0); 
  transform-origin: left;
  transition: transform 0.3s ease; 
}

.controls div:hover {
 color: var(--control-hover);
}

.controls div:hover::after {
transform: scaleX(1); 
}


/* Product Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    justify-content: center;
    padding: 0 10%;
}

/* Individual Product Box */
.product {
    border-radius: 10px;
    text-align: center;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    box-sizing: border-box;
}


.product-grid:has(.product-size2){
    max-width: 1000px;
}

.product-grid:has(.product-size1){
    max-width: 500px;
}

.product-image {
    width: 100%; 
    aspect-ratio: 30 / 24; 
    object-fit: cover;
    background-color: var(--prod-img-bg); 
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden; 
    display: flex; 
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product:hover .product-image {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.product-name {
    font-size: 16px;
    font-weight: bold;
    color: var(--control-text);
    margin: 0;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

.product-price {
    font-size: 16px;
    font-weight: 250;
    color: var(--bg-colour);
    margin: 0;
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    text-decoration: none;
}

/* Load More Button */
.load-more-btn {
    margin-top: 16px;
    font-family: "Outfit", sans-serif;
    border: none;
    border-radius: 30px;
    font-size: 20px;
    font-weight: 700;
    /*color: #fff;*/
    cursor: pointer;
    height: 50px;
    width: 30%;
    margin-bottom: 28px;
    transition: color 0.3s ease;
    color: var(--loadbtn-text); 
    background-color: var(--loadbtn-bg); 
}



/* Hidden Products */
.hidden {
    display: none;
}

.product-grid:has(.product-size2){
    max-width: 1500px;
}

.product-grid:has(.product-size1){
    max-width: 800px;
}