/*
updated design to match updates - Adam 6/12/2024 
*/

/* variables */
:root {
    --bg-colour: #DCEDFF;
    --text-colour: black;

    --confirmation: hsla(224, 76%, 25%, 0.36);
    --conf-border: #cecece;
    --conf-container: #ffffff;
    --conf-text: #0F2970;
    --invalid: red;
    --valid: green;
    --placeholder: #888;

    --contact-text: #fff;
    --contact-bg: #B9DBFF;
    --contact-bg-hover: #556edf;
}

body {
    font-family: "Outfit", sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

main {
    display: flex;
    justify-content: center; 
    min-height: auto; 
    text-align: center; 
    margin: 0 auto; 
}  


.confirmation {
    font-family: "Outfit", sans-serif;
    text-align: center;
    padding: 24px 20px;
    padding-bottom: 128px;
    width: 80%;
    }
    
.confirmation h1 {
    font-size: 36px;
    padding-bottom: 16px;
    }

.confirmation h2{
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 39px;
    color: var(--confirmation);
    }
    
.confirmation form {
    width: 100%;
    margin: 0 auto;
    padding-left: 72px;
    padding-right: 72px;
    }


.EmailLine, .DescriptionLine {
    display: flex;
    align-items: center; 
    gap: 10px; 
    padding-bottom: 20px;
    width: 100%
    }
    
.DescriptionLine {
    padding-bottom: 38px;
}

.confirmation input {
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--conf-border);
    border-radius: 7px;
    height: 50px;
}
    
input:invalid {
    border-color: var(--valid);
}
    
input:valid {
    border-color: var(--invalid);
}

input::placeholder {
    color: var(--placeholder); 
    font-family: "Outfit", sans-serif;
    padding-left: 8px;  
    font-weight: 200;
    font-size: 16px; 
    opacity: 1;
}

.confirmation textarea {
    width: 100%; 
    padding: 10px;
    border: 1px solid var(--conf-border);
    border-radius: 7px;
    height: auto;
    resize: none;
    color: var(--text-colour); 
    font-family: "Outfit", sans-serif;
    padding-left: 16px;  
    font-weight: 300;
    font-size: 16px; 
    opacity: 1;
    
}

textarea::placeholder {
    color: var(--placeholder); 
    font-family: "Outfit", sans-serif;  
    font-weight: 200;
    font-size: 16px; 
    opacity: 1;
}
      

    .contactButton {
        font-family: "Outfit", sans-serif;
        border: none;
        border-radius: 30px; /*Makes the button have curved corners*/
        font-size: 20px;
        font-weight: 700;
        color: var(--contact-text);
        cursor: pointer;
        height: 50px;
        width: 180px;
        margin-bottom: 28px;
    
      }
      
      .contactButton {
        background-color: var(--contact-bg);
      }
    
      .contactButton:hover{
        background-color: var(--contact-bg-hover);
      }
    
.confirmation-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 1000px;
    height: auto;
    border-radius: 15px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background-color: var(--conf-container);
    justify-content: flex-start;
}
    


.confirmation-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    height: 100%;
    align-self: flex-start;
    position: relative; 
    overflow: visible; 
}

.confirmation-text {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: var(--conf-text);
    padding:  42px 0;
    font-weight: 300;
}



.confirmation-items {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.summary-items {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    width: 100%;
    margin-bottom: 10px; 
    padding: 0 20%;
}

.summary-text {
    font-size: 20px;
    font-weight: 300;
}

.summary-items-total {
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 8px;
    margin-bottom: 48px;
    width: 100%;
    border: none; 
    border-top: 1px solid rgba(10, 42, 111, 0.24); 
    border-bottom: 1px solid rgba(10, 42, 111, 0.24); 
    padding: 16px 0;
    
}
.summary-text-total {
    font-size: 20px;
    font-weight: 300;
    
  
}
    
.confirmation-image img {
    object-fit: contain;
    height: 100%;
    width: auto;
    display: block;
}

.confirmation-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 240px;
    position: absolute;
    left: 700px;
    top: 210px;
}