
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="{% static  'css/password_reset.css' %}" rel="stylesheet" />
    <main>
        <div class = "container">
        <h1>Reset Password</h1>
        <p>Enter the email connected to your Hats for Cats account:</p>
        <form method="post">
            <div class="user-input-text">
            {% csrf_token %}
            {{ form.as_p }}
            </div>
            <button type ="submit" class="SendLinkButton">Send Link</button>
        </form>
        </div>
    </main>
{% endblock %}