/*
Developer: Hamid Noor
University ID: 210079931

Redone by Adam 

*/

/* variables */
:root {
  --bg-colour: #DCEDFF;
  --text-colour: #000000;

  --login-text: hsla(224, 76%, 25%, 0.36);

  --input: #cecece;
  --inp-placeholder: #888;
  --valid-inp: green;

  --signup: #000;
  --signup-a: #838EDA;

  --btn-bg: #838EDA;
  --btn-hover: #556edf;

  --reset-text: rgba(15, 41, 112, 0.36);
  --reset-border: rgba(15, 41, 112, 0.36);
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 40px;
  background-color: var(--bg-colour);
  font-family: "Outfit", sans-serif;
 
}

header .logo {
  font-size: 1.5em;
  font-weight: bold;
}

header nav a {
  margin: 15px;
  text-decoration: none;
  color: var(--text-colour);
  font-weight: 500;
}

header .cartIcon {
  font-size: 1.2em;
}

/* Login Section */
.login {
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 24px 20px;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 14px;
}

.login h2{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 39px;
  color: var(--login-text);
}

.login form {
  max-width: 512px;
  margin: 0 auto;
}


.EmailLine, .PasswordLine {
  display: flex;
  align-items: center; 
  gap: 10px; 
  padding-bottom: 20px;
}

.PasswordLine {
  padding-bottom: 38px;
}

.login input {
  width: 100%; 
  padding: 10px;
  border: 1px solid var(--input);
  border-radius: 7px;
  height: 50px;
}
/* 
input:invalid {
  border-color: red;
} */

input:valid {
  border-color: var(--valid-inp);
}

input::placeholder {
  color: var(--inp-placeholder); 
  font-family: "Outfit", sans-serif;
  padding-left: 8px;  
  font-weight: 200;
  font-size: 16px; 
  opacity: 1;
}


.sign-up {
  font-size: 15px;
  font-weight: 300;
  color: var(--signup);
  margin-top: 0;
  margin-bottom: 11px;
}

.sign-up a {
  color: var(--signup-a);
  text-decoration: none; /*Removes the underline on the hyperlinked text*/
}

.sign-up a:hover{
  text-decoration: underline;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.loginButton {
  font-family: "Outfit", sans-serif;
  border: none;
  border-radius: 30px; /*Makes the button have curved corners*/
  font-size: 20px;
  font-weight: 700;
  color: var(--text-colour);
  cursor: pointer;
  height: 50px;
  width: 440px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 28px;

}

.loginButton {
  background-color: var(--btn-bg);
}

.loginButton:hover{
  background-color: var(--btn-hover);
}

.registerButton {
  background-color: var(--btn-bg);
}

.registerButton:hover{
  background-color: var(--btn-hover);
}

.reset {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
font-size: 13px;
font-weight: 300;
color: var(--reset-text);
text-decoration: none;

}

.reset-button:before {
text-decoration: none;
}

.reset-line-left, .reset-line-right {
margin: 8px;
width: 48px;
height: 1px;
border: 1px solid var(--reset-border); /* Add 'solid' for border-style */
}