/*
updated design to match updates - Adam 6/12/2024 
*/

/* variables */
:root {
  --bg-colour: #DCEDFF;
  --text-colour: black;

  --register-text: hsla(224, 76%, 25%, 0.36);

  --input: #cecece;
  --inp-placeholder: #888;
  --valid-inp: green;

  --reset-text: rgba(15, 41, 112, 0.36);
  --reset-border: rgba(15, 41, 112, 0.36);

  --btn-bg: #838EDA;
  --btn-bg-hover: #556edf;
}

body {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--bg-colour);
  color: var(--text-colour);
}

/* register Section */
.register {
  font-family: "Outfit", sans-serif;
  text-align: center;
  padding: 24px 20px;
}

.register h1 {
  font-size: 36px;
  margin-bottom: 14px;
}

.register h2{
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 39px;
  color: var(--register-text);
}

.register form {
  max-width: 512px;
  margin: 0 auto;
}


.EmailLine, .PasswordLine {
  display: flex;
  align-items: center; 
  gap: 10px; 
  padding-bottom: 20px;
}

.PasswordLine {
  padding-bottom: 38px;
}

.register input {
  width: 100%; 
  padding: 10px;
  border: 1px solid var(--input);
  border-radius: 7px;
  height: 50px;
}

/* input:invalid {
  border-color: red;
} */

input:valid {
  border-color: var(--valid-inp);
}

input::placeholder {
  color: var(--inp-placeholder); 
  font-family: "Outfit", sans-serif;
  padding-left: 8px;  
  font-weight: 200;
  font-size: 16px; 
  opacity: 1;
}

.reset {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 300;
  color: var(--reset-text);
  text-decoration: none;

 }

 .reset-button:before {
  text-decoration: none;
 }

 .reset-line-left, .reset-line-right {
  margin: 8px;
  width: 48px;
  height: 1px;
  border: 1px solid var(--reset-border);
}


 
.log-in {
  font-size: 15px;
  font-weight: 300;
  color: #000;
  margin-top: 0;
  margin-bottom: 11px;
}

.log-in a {
  color: #838EDA;
  text-decoration: none; 
}

.log-in a:hover{
  text-decoration: underline;
}


.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.registerButton {
  font-family: "Outfit", sans-serif;
  border: none;
  border-radius: 30px; 
  font-size: 20px;
  font-weight: 700;
  color: var(--text-colour);
  cursor: pointer;
  height: 50px;
  width: 440px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 28px;

}

.registerButton {
  background-color: var(--btn-bg);
}

.registerButton:hover{
  background-color: var(--btn-bg-hover);
}
