<!-- Created by Adam - 23/11/2024 -->
<footer>
    <div class="footer-logo">
        HATS FOR CATS
    </div>
    <div class="footer-container">
        <div class="footer-title">Home</div>
        <div class="footer-body">
            <div class="footer-body-item"><a href="#">Shop</a></div>
            <div class="footer-body-item"><a href="#">About</a></div>
            <div class="footer-body-item"><a href="#">Login</a></div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-title">Shop</div>
        <div class="footer-body">
            <div class="footer-body-item"><a href="#">Browse Hats</a></div>
            <div class="footer-body-item"><a href="#">Best Sellers</a></div>
            <div class="footer-body-item"><a href="#">New Arrivals</a></div>
        </div>
    </div>
    <div class="footer-container">
        <div class="footer-title">Contact</div>
        <div class="footer-body">
            <div class="footer-body-item"><a href="#">Email</a></div>
            <div class="footer-body-item"><a href="#">LinkedIn</a></div>
            <div class="footer-body-item"><a href="#">Instagram</a></div>
            <div class="footer-body-item"><a href="#">Twitter</a></div>
        </div>
    </div>
    <div class="footer-newsletter">
        <div class="footer-title">Join Our Newsletter</div>
        <div class="footer-newsletter-signup">
            <input type="text" class="footer-newsletter-input-field" placeholder="Email Address">
            <button class="footer-newsletter-button">SUBMIT</button>
        </div>
    </div>
</footer>
