<!-- Created by Adam - 23/11/2024 -->
<nav class="header">
    <div class="logo">
        <a href="{% url 'home' %}"><img src="../media/logo.png" alt="Hats for Cats"></a>
    </div>
    <div class="menu-items">
        <a href="{% url 'Catalogue' %}">Shop</a>
        <a href="">About</a>
        <a href="">Contact Us</a>
    </div>
    <div class="icons">
        <div class="search-icon "><i class='bx bx-search-alt-2' ></i></div>
        <div class="profile-icon "><i class='bx bx-user'></i></div>
        <div class="basket-icon "><i class='bx bx-shopping-bag' ></i></div>
    </div>
</nav>