<!-- updated design to match updates by Adam 6/12/2024-->

{% extends 'base.html' %}
{% load static %}

{% block title %}Contact Us{% endblock %}

{% block content %}
<link href="{% static  'css/purchaseconfirmation.css' %}" rel="stylesheet" />
<main>
    <section class="confirmation">
          <h1>THANK YOU</h1>
          <h2>Your order will be processed shortly and we will notify you by email when it has been  shipped or you can follow the ‘Track Order’ link. You can also find a summary of your order below!</h2>
          <div class="confirmation-container">
            <div class="confirmation-info">
                <div class="confirmation-text">
                    You have ordered the below items from us today. Thank you for shopping!
                </div>
                <div class="confirmation-items">
                    {% for item in order_items %}
                    <div class="summary-items">
                        <div class="summary-text">{{ item.variantID.productID.name }} x {{ item.quantity }}</div>
                        <div class="summary-text">£{{ item.priceAtPurchase }}</div>
                    </div>
                    {% endfor %}
                    <div class="summary-items">
                        <div class="summary-items-total">
                            <div class="summary-text-total">Total</div>
                            <div class="summary-text-total">£{{ order.totalAmount }}</div>
                        </div>
                    </div>
                </div>
                <div class="confirmation-image">
                    <img src="{% static 'media/home-page/cat-image-1.png' %}" alt="Cat with a hat" >
                </div>
            </div>
          </div>
          
    </section>
</main>


{% endblock %}

