<!--
Developer: Azaan Mudassar
University ID: 230098501
-->



<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchase Confirmation Page</title>
    <link rel="stylesheet" href="../css/purchaseconfirmation.css">
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header-container">
        <h1>Order Confirmation</h1>
    </div>
    <div class="purchase-container">
        <h2>Thank You For Your Purchase</h2>
    </div>
    <div class="main-container">
        <div class="headings-container">
            <h2 class="heading-box">Track Order Details</h2>
            <h2 class="heading-box">Order Information</h2>
        </div>
        <div class="order-container">
            <div class="order-title">
                <h2>Order Summary</h2>
            </div>
            <div class="order-details">
                <div class="price-container">
                    <h2>Subtotal</h2>
                    <h2>£0.00</h2>
                </div>
                <div class="order-no">
                    <h2>Order No.</h2>
                </div>
                <div class="delivery-detail">
                    <h2>Standard Delivery (3-5 working days)</h2>
                </div>
            </div>
            <img src="../media/cat.png" alt="Kitten" class="kitty-img">
        </div>
    </div>
</body>
</html>