/* Header  */
h2 {
    text-align: center;
    margin-bottom: 25px;
}

/* implementing the font and its related info */
.outfit-font{
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-weight: 20;
    font-style: normal;
}

body {
    background-color:rgba(220, 237, 255, 1); 
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

/* Label styles */
label {
    margin-left: 10px;
    margin-right: 40px;
    margin-bottom: 20px;
}

/*this is for the first name and email to next to each other*/
.first-row{
    display: flex;
}

#full-name{
    padding-right: 5%;
    border-radius: 13px;
}

#email{
    padding-left: 5%;
    border-radius: 13px;

}


/* Input and textarea styles */
input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    /* padding-left: 10%; */
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    border-radius: 13px;
    /* box-sizing: border-box; */
}

/* Textarea specific style */
textarea {
    resize: none;
    height: 150px;
}

/* Button details */
button {
    border: 5px solid rgba(131, 142, 218, 1); 
    padding: 10px;
    width: 17%; 
    font-size: 18px;
    border-radius: 23px;
    display: block;
    margin:0 auto;
    cursor: pointer;
    background-color: rgba(131, 142, 218, 1);

}

/*Button hover effect */
button:hover {
    background-color: rgb(106, 122, 229);
}
