<!-- Created by Adam 23/11/2024 / Placeholder template, to be replaced with template from front end -->
<!-- Updated  by Adam 30/11/2024 -->
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Variant</title>
</head>
<body>
    h2>Existing Images</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}

        <h2>Upload Additional Images</h2>
        {{ form.images }}

        <h2>Existing Images</h2>
        <ul>
            {% for image in object.imagepath.all %}
                <li>
                    <img src="{{ image.imagepath.url }}" alt="Variant Image" width="100">
            {% endfor %}
        </ul>

        <button type="submit">Save Changes</button>
    </form>
</body>
</html>
