
body {
    font-family: "Poppins";
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.dashboard {
    display: flex;
}

.content {
    flex: 1;
    padding: 0
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.buttonclass {
    display: flex;
    align-items: center;
}


.profile p {
    margin: 0;
    font-size: 14px;
}

.email {
    color: gray;
}

/* Discounts Table */
.discount-container {
    background: white;
    padding: 20px 48px;
    border-radius: 24px;
    margin-top: 20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    height: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #5a57ff30;
}

td {
    font-weight: 300;
}

table tbody td:first-child {
    font-weight: 400;
  }

.valid {
    color: green;
}

.expired {
    color: red;
}

.action, .action-2 {
    color: hsla(241, 100%, 67%, 0.9);
    cursor: pointer;
    font-size: 0.8rem;
}

.action {
    padding-right: 8px;
}

.action-2 {
    padding-left: 8px;
    border-left: solid 1px hsla(241, 100%, 67%, 0.24);
}

table thead th, .action-column {
    text-wrap: nowrap;
  }


.add-button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 30px;
    margin: 16px 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #5A57FF;
    color: white;
}



.delivered {
    color: #2FC675 ;
}

.returned {
    color: #b1b4bd ;
}

.processing {
    color: #c0392b ;
}

.route {
    color: #5b96cc ;
}