<!-- edited and setup for Django by Adam 1/12/2024-->
{% extends 'base.html' %}
{% load static %}

{% block content %}
<link href="{% static  'css/login/login.css' %}" rel="stylesheet" />
  <!-- Developer: Hamid Noor | University ID: 210079931 -->
<main>
  <section class="login">
        <h1>LOGIN</h1>
        <h2>Hi! Sign into your account now to see your saved basket or access your user profile</h2>
        <form method="post">
            {% csrf_token %}
            <!-- Render Django form fields -->
            <div class="EmailLine">
                {{ form.username }}
            </div>
            <div class="PasswordLine">
                {{ form.password }}
            </div>
            
            <div class="buttonContainer">
                <button type="submit" class="loginButton">SIGN IN</button>
            </div>
        </form>
    <p class="sign-up">
        Not yet signed up? Meow Worries! Create an account
        <a class="sign-up-button" href="#">here</a>.
    </p>
    <div class="reset">
        <div class="reset-line-left"></div>
        <p>
            or reset your password  <a class="reset-button" href="#">here</a> if you've forgotten it
        </p>
        <div class="reset-line-right"></div>
    </div>
  </section>
</main>
{% endblock %}