
{% extends 'base.html' %}
{% load static %}

{% block content %}
    <link href="{% static  'css/login/reset.css' %}" rel="stylesheet" />
    <main class="login">
        <h1>RESET PASSWORD</h1>
        <h2>Enter the email address for your account. If it is linked to an account, we will send an <br> email reset to that account!</h2>
        <form method="post">
            {% csrf_token %}
            <!-- Render Django form fields -->
            <div class="PasswordLine">
                {{ form.email }}
            </div>
            
            <div class="buttonContainer">
                <button type="submit" class="loginButton">RESET PASSWORD</button>
            </div>
        </form>
    </main>
{% endblock %}

