<!-- edited and setup for Django by Adam 1/12/2024 -->
{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}

{% block content %}
<link href="{% static 'css/login/register.css' %}" rel="stylesheet" />
<main>
    <section class="register">
        <h1>REGISTER WITH US</h1>
        <h2>Hi! Create an account with us now to see your saved basket or access your user profile</h2>
        <form method="post">
            {% csrf_token %}
            <div class="EmailLine">
                {{ form.username }}
            </div>
            <div class="EmailLine">
                {{ form.email }}
            </div>
            <div class="EmailLine">
                {{ form.password1 }}
            </div>
            <div class="EmailLine">
                {{ form.password2 }}
            </div>
            <div class="buttonContainer">
                <button type="submit" class="registerButton">REGISTER</button>
            </div>
        </form>
        <p class="log-in">
            Already have an account? Sign in 
            <a class="log-in-button" href="{% url 'login' %}">here</a>.
        </p>
        <div class="reset">
            <div class="reset-line-left"></div>
            <p>
                or reset your password  <a class="reset-button" href="{% url 'password_reset' %}">here</a> if you've forgotten it
            </p>
            <div class="reset-line-right"></div>
        </div>
    </section>
</main>
{% endblock %}